.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 60px;
    padding-right: 60px;

    &_xl {
        max-width: 1920px;
    }

    &_medium {
        max-width: 1230px;
    }

    &_xs {
        max-width: 850px;
    }
}