.articles {
    margin-top: 140px;
    min-height: 470px;


    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 70px;
    }

    &__link {
        color: #929292;
        text-decoration: none;
        font-weight: 600;
        font-size: 16px;

        &:hover {
            color: #FCD54C;
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
        margin-top: 90px;
        text-align: center;
        list-style: none;
        padding-left: 0;
    }

    &__content-image {
        position: relative;
    }

    &__content-image:hover &__content-info {
        opacity: 1;
    }

    &__image {
        z-index: -2;
    }

    &__image-title {
        position: absolute;
        font-size: 25px;
        color: #FFFFFF;
        z-index: 0;
        bottom: 50px;
        left: 40px;
    }

    &__content-info {
        top: 0;
        position: absolute;
        padding-top: 42px;
        padding-left: 38px;
        padding-right: 38px;
        padding-bottom: 24px;
        border: 3px solid #FCD54C;
        text-align: left;
        background-color: #272727;
        opacity: 0;
        transition: 0.2s;
    }

    &__info-time {
        font-size: 16px;
        margin-top: 0;
        margin-bottom: 0;
    }

    &__info-title {
        font-size: 25px;
        font-weight: 700;
        margin-top: 18px;
        margin-bottom: 0;
    }

    &__info-text {
        margin-top: 30px;
        margin-bottom: 0;
        font-size: 16px;
        color: #929292;
    }

    &__info-link {
        display: block;
        color: #FCD54C;
        text-decoration: none;
        font-size: 16px;
        font-weight: 600;
        margin-top: 80px;
    }
}


@media only screen and (max-width : 1023px) {

    .articles {
        margin-top: 140px;
        min-height: 295px;

        &__title {
            font-size: 30px;
        }

        &__link {
            font-size: 12px;
        }

        &__content {
            margin-top: 40px;
        }

        &__content-image {
            min-width: 220px;
        }

        &__image {
            max-width: 208px;
            height: 243px;

        }

        &__image-title {
            font-size: 18px;
            max-width: 140px;
            bottom: 15px;
            left: 40px;

        }

        &__content-info {
            padding-top: 30px;
            padding-left: 30px;
            padding-right: 30px;
            padding-bottom: 24px;

        }

        &__info-time {
            font-size: 12px;
        }

        &__info-title {
            font-size: 18px;
            margin-top: 10px;
            max-width: 140px;
            line-height: 1.4;
        }

        &__info-text {
            margin-top: 12px;
            font-size: 12px;
            max-width: 150px;
            line-height: 0.8;
        }

        &__info-link {
            font-size: 12px;
            margin-top: 10px;
        }
    }


}