.header {
    padding-top: 10px;
    padding-bottom: 10px;


    &__container {
        display: flex;
        justify-content: space-between;
    }

    &__block {
        display: flex;
        align-items: center;
    }

    &__list {
        display: flex;
        align-items: center;
        list-style: none;
        margin-left: 150px;
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
    }

    &__list-item {
        text-transform: uppercase;
        margin-left: 50px;

        &:first-child {
            margin-left: 0;
        }
    }

    &__item-link {
        text-decoration: none;
        color: #FFFFFF;
        font-size: 14px;

        &:hover {
            color: #FCD54C;
            border-bottom: solid 2px #FCD54C;
        }
    }

    &__consultation-button {
        color: #000000;
        font-size: 14px;
        font-weight: 600;
        background-color: #FCD54C;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 14px;
        padding-right: 14px;
        border: none;
        cursor: pointer;

        &:hover {
            border: solid 2px  #FCD54C;
            background-color: #272727;
            color: #FCD54C;
            transition: 0.1s;
        }
    }

    &__language {
        margin-left: 144px;
    }

    &__language-button {
        color: #929292;
        font-size: 14px;
        font-weight: 600;
        background: none;
        border: none;
        cursor: pointer;

        &:hover {
            color: #FCD54C;
        }
    }

    &__number {
        text-decoration: none;
        color: #FFFFFF;
        font-weight: 600;
        font-size: 16px;
        margin-left: 50px;
        &:hover{
            color: #FCD54C;
        }
    }

}

@media only screen and (max-width : 1023px) {
    
}