.hero {
    margin-top: 20px;

    &__container {
        position: relative;
    }

    &__block-text {
        position: absolute;
        z-index: 2;
        top: 250px;
        left: 330px;
    }

    &__text {
        text-transform: uppercase;
        font-size: 16px;
        color: #FFFFFF;
        margin-top: 0;
        margin-bottom: 0;

    }

    &__title {
        font-weight: 700;
        font-size: 96px;
        text-transform: capitalize;
        max-width: 740px;
        line-height: 1;
        margin-top: 20px;
        margin-bottom: 0;
    }

    &__link {
        display: block;
        font-weight: 700;
        font-size: 20px;
        color: #FFFFFF;
        text-decoration: none;
        margin-top: 30px;
        max-width: 200px;

        &:hover {
            color: #FCD54C;
            transition: 0.2s;
        }
    }

    &__title-span {
        color: #FCD54C;
    }

    &__rectangle {
        position: absolute;
        width: 124px;
        height: 383px;
        border: 4px solid #FCD54C;
        border-right: none;
        top: 210px;
        left: 300px;
    }

    &__list {
        position: absolute;
        list-style: none;
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 0;
        top: 40px;
        right: 80px;
    }

    &__list-item {
        margin-top: 15px;

        &:first-child {
            margin-top: 0;
        }
    }

    &__item-link {
        padding-bottom: 3px;

        &:hover {
            border-bottom: 2px solid #FCD54C;
        }
    }

    &__image-icon {
        max-height: 17px;
    }

    &__list-number {
        position: absolute;
        right: 60px;
        bottom: -10px;
        background-color: #272727;
        list-style: none;
        display: flex;
        padding-top: 50px;
        padding-bottom: 40px;
        padding-left: 60px;
        padding-right: 30px;
        margin-top: 0;
        margin-bottom: 0;
    }

    &__number-item {
        margin-left: 170px;
        display: flex;
        align-items: center;

        &:first-child {
            margin-left: 0;
        }
    }

    &__figure {
        font-weight: 700;
        font-size: 60px;
    }

    &__text-number {
        font-weight: 600;
        font-size: 16px;
        color: #FFFFFF;
        margin-left: 40px;
        max-width: 130px;
        margin-top: 0;
        margin-bottom: 0;
    }

}


@media only screen and (max-width : 1560px) {}


@media only screen and (max-width : 1023px) {

    .hero {

        &__block-text {
            position: absolute;
            z-index: 2;
            top: 60px;
            left: 65px;
        }

        &__text {
            font-size: 10px;
        }

        &__title {
            font-size: 50px;
            margin-top: 0;
            max-width: 430px;
            line-height: 1.5;
        }

        &__link {
            font-size: 16px;
            max-width: 170px;
            margin-top: 0;
        }

        &__rectangle {
            position: absolute;
            top: 40px;
            left: 50px;
            width: 74px;
            height: 230px;
        }

        &__list {
            top: 20px;
            right: 35px;
        }

        &__list-item {
            margin-top: 15px;
        }

        &__list-number {
            right: 20px;
            bottom: -10px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 30px;
            padding-right: 10px;
            margin-top: 0;
            margin-bottom: 0;
        }

        &__number-item {
            margin-left: 35px;
        }

        &__figure {
            font-size: 40px;
        }

        &__text-number {
            font-size: 12px;
            margin-left: 12px;
            max-width: 90px;
        }

    }

}