.hero {
    padding-top: 20px;
    padding-bottom: 20px;

    &__container{
      
    }

    &__background{
        display: block;
      
        top: 0;
        left: 0;
        right: 0;
        width: 100%;

    }
}


@media only screen and (max-width : 1023px) {
    
}