.projects {
    margin-top: 105px;

    &__container {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &__title {
        font-weight: 700;
        font-size: 48px;
        color: #FFFFFF;
        margin-top: 0;
        margin-bottom: 0;
    }

    &__button-link {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }


    &__links-list {
        list-style: none;
        display: flex;
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

    &__list-item {
        margin-left: 30px;

        &:first-child {
            margin-left: 0;
        }
    }

    &__list-button {
        color: #FFFFFF;
        font-weight: 600;
        font-size: 16px;
        background: none;
        border: none;
        cursor: pointer;

        &:hover {
            color: #FCD54C;
        }
    }

    &__link {
        text-decoration: none;
        color: #929292;
        font-weight: 600;
        font-size: 16px;
        margin-left: 45px;

        &:hover {
            color: #FCD54C;
        }
    }


    &__content {
        display: flex;
        justify-content: space-between;
        text-align: center;
    }


    &__content-image {
        position: relative;
    }

    &__content-image:hover &__content-info {
        opacity: 1;
    }

    &__image {
        z-index: -2;
        max-width: 430px;
    }

    &__image-title {
        position: absolute;
        font-size: 32px;
        color: #FFFFFF;
        bottom: 50px;
        left: 40px;
        z-index: 0;
    }

    &__content-info {
        top: 0;
        position: absolute;
        padding-top: 46px;
        padding-left: 38px;
        padding-right: 60px;
        padding-bottom: 44px;
        border: 2px solid #FCD54C;
        text-align: left;
        background-color: #FCD54C;
        opacity: 0;
        transition: 0.2s;
    }

    &__info-title {
        font-weight: 700;
        font-size: 32px;
        color: #272727;
        margin-top: 0;
        margin-bottom: 0;
    }

    &__info-text {
        margin-top: 75px;
        margin-bottom: 0;
        font-size: 22px;
        color: #272727;
        max-width: 330px;
    }

    &__info-link {
        display: block;
        font-weight: 700;
        font-size: 20px;
        color: #272727;
        text-decoration: none;
        margin-top: 110px;
    }





    .swiper-slide {
        max-width: 430px;
    }

    &__swiper-pagination {
        position: relative;
        margin-top: 40px;

    }

    .swiper-free-mode>.swiper-wrapper {
        margin-top: 80px;
    }

    .swiper-pagination-bullet {
        width: 13px;
        height: 13px;
        background-color: #FCD54C;

    }

    .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 8px);
    }
}


@media only screen and (max-width : 1023px) {

    .projects {
        margin-top: 100px;

        &__title {
            font-size: 30px;
        }

        &__list-button {
            font-size: 12px;
        }

        &__link {
            font-size: 12px;
            margin-left: 30px;
        }

        &__image {
            max-width: 165px;
        }

        &__image-title {
            font-size: 18px;
            bottom: 25px;
            left: 15px;
        }

        &__content-info {
            padding-top: 15px;
            padding-left: 10px;
            padding-right: 20px;
            padding-bottom: 10px;
        }

        &__info-title {
            font-size: 18px;
        }

        &__info-text {
            margin-top: 15px;
            font-size: 12px;
            line-height: 14px;

        }

        &__info-link {
            font-size: 12px;
            margin-top: 20px;
        }

        .swiper-slide {
            max-width: 165px;
        }

        &__swiper-pagination {
            margin-top: 20px;

        }

        .swiper-free-mode>.swiper-wrapper {
            margin-top: 25px;
        }
    }
}